:root {
  --color-bluegray-dark: #FFFFFF;  
  --color-bluegray-light: #FFD200; 
  --color-light-gray: #000000;      
  --color-anthracite: white;      
  --color-highlight: #C79A00; 
}

/* Grundlegendes Styling */
.App {
  text-align: center;
  background-color: var(--color-bluegray-dark); /* Dunkles Blau für den Hintergrund */
  min-height: 100vh; /* Stellt sicher, dass der Hintergrund die volle Höhe ausfüllt */
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.feed-and-controls {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: var(--color-bluegray-light);
  border-radius: 10px;
}

/* Container für die Steuerungselemente */
.controls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

/* Styling für die Überschriften in den Steuerungen */
.controls h2 {
  margin: 0;
  padding: 0;
  color: var(--color-light-gray); 
  font-size: 20px;
  font-weight: 600;
}

/* Navigation-Buttons */
.nav-controls {
  margin-bottom: 20px;
}

/* Navigation-Buttons */
.nav-controls button {
  background: var(--color-anthracite);
  color: #333333; 
  padding: 12px 25px;
  border: 2px solid #333333;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease, transform 0.2s ease;
  margin-right: 15px;
}

.nav-controls button:hover {
  background: #333333; 
  color: white; 
  transform: scale(1.1); 
}

.nav-controls button.active {
  background: #333333; 
  color: white; 
  transform: translateY(-2px); 
}

.nav-controls button:focus {
  outline: 3px solid var(--color-highlight); 
  box-shadow: 0 0 10px 2px var(--color-highlight); 
}

/* Spinner für Videoprocessing */
.processing-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 360px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
}

.processing-indicator p {
  margin-bottom: 20px;
  font-size: 18px;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top-color: var(--color-winered);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
