.App {
  text-align: center;
}

.centered {
  height: 100vh; /* Set the wrapper height to the full viewport height */
  display: flex;
  align-items: center; /* Center the items vertically */
  justify-content: center; /* Center the items horizontally */
  flex-direction: column;
}


/* Container for video feed and controls side by side */
.feed-and-controls {
  display: flex;
  align-items: flex-start;      /* Vertical centering */
  justify-content: center;
  gap: 20px;                /* Space between video and controls */
  padding: 20px;            /* Some margin from the edge */
}

/* Container for the controls (buttons) */
.controls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;      /* Horizontally centers the buttons */
  justify-content: flex-start;
  gap: 10px;
}

/*  Styling for the headings */
.controls h2 {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 20px;
}

:root {
  --color-winered: #7a212e;
  --color-bluegray-dark: #5e6b7c;
  --color-bluegray-light: #cfd3da;
  --color-light-gray: #e9ebee;
  --color-anthracite: #353535;
}