.App {
  text-align: center;
}

.centered {
  height: 100vh; /* Volle Höhe des Viewports */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Container für Video-Feed und Steuerung nebeneinander */
.feed-and-controls {
  display: flex;
  align-items: center;      /* Vertikale Zentrierung */
  justify-content: center;
  gap: 20px;                /* Abstand zwischen Video und Controls */
  padding: 20px;            /* Etwas Abstand zum Rand */
}

/* Container für die Steuerung (Buttons) */
.controls {
  display: flex;
  flex-direction: column;
  align-items: center;      /* Zentriert die Buttons horizontal */
  justify-content: center;
}

/* CSS-Variablen */
:root {
  --color-winered: #7a212e;
  --color-bluegray-dark: #5e6b7c;
  --color-bluegray-light: #cfd3da;
  --color-light-gray: #e9ebee;
  --color-anthracite: #353535;
}
